root = true

[*]
charset = utf-8
indent_style = space

[*.kt]
indent_size = 4
max_line_length = 120

ktlint_standard_no-wildcard-imports = disabled
ij_kotlin_allow_trailing_comma_on_call_site = false
ij_kotlin_allow_trailing_comma = false

[*.md]
max_line_length = 80
trim_trailing_whitespace = false
